.footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  width: 100%;
  max-width: 1400px;
  border: 1px solid var(--Half-Baked);
}
.header {
  padding-top: 2rem;
}
.header h2 {
  font-size: 2.5rem;
  letter-spacing: -3px;
  line-height: 0.4;
  color: var(--Navy);
}
.header > h2 > span:first-child {
  font-size: 35px;
}
.header > h2 > span:last-child {
  font-weight: bolder;
  letter-spacing: 1px;
  color: var(--Dusk-Blue);
}
.socialMediaLink {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  color: var(--Dusk-Blue);
}
.main h4 {
  color: var(--Navy);
}
@media screen and (max-width: 768px) {
  .header {
    padding: 1rem;
  }
  .header > h2 > span:first-child {
    font-size: 27px;
  }
  .header h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 1rem;
  }

  .socialMediaLink {
    padding: 0.5rem;
    gap: 1.5rem;
  }
}
