.header {
  padding: 2rem 4rem;
  /* z-index: ; */
}
.header h1 {
  font-size: 2.5rem;
  letter-spacing: -3px;
  line-height: 0.4;
  color: var(--Navy);
}
.header > h1 > span:first-child {
  font-size: 35px;
}
.header > h1 > span:last-child {
  font-weight: bolder;
  letter-spacing: 1px;
  color: var(--Dusk-Blue);
}

@media screen and (max-width: 992px) {
  .header {
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 1.5rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 1rem;
  }
}
