.header {
  display: flex;
  justify-content: center;
}
.nav {
  border-inline: 1px solid var(--Half-Baked);
  width: 100%;
  max-width: 1400px;
  position: fixed;
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Half-Baked);
  z-index: 1;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.nav h2 {
  font-size: 2.5rem;
  letter-spacing: -3px;
  line-height: 0.4;
  color: var(--Navy);
}
.nav > h2 > span:first-child {
  font-size: 35px;
}
.nav > h2 > span:last-child {
  font-weight: bolder;
  letter-spacing: 1px;
  color: var(--Dusk-Blue);
}
.nav > button {
  border: none;
  width: 120px;
  height: 40px;
  background-color: var(--Navy);
  color: var(--Iceberg);
  border-radius: 20px;
  font-weight: 900;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.nav > button:hover,
.nav > button:active {
  transform: scale(0.9);
}
.socialMediaLink {
  color: var(--Dusk-Blue);
  display: flex;
  gap: 2rem;
  align-items: center;
}
.link {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  transition: all 0.2s ease;
}
.link:hover {
  font-weight: 700;
  color: var(--Half-Baked);
}
@media screen and (max-width: 992px) {
  .nav {
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    padding: 2rem;
  }
  .nav > h2 > span:first-child {
    font-size: 27px;
  }
  .nav h2 {
    font-size: 1.8rem;
  }
  .link {
    gap: 0.3rem;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    padding: 1.5rem;
  }
  .socialMediaLink {
    gap: 0.5rem;
  }
  .link {
    gap: 0.1rem;
  }
  .socialMediaLink {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .socialMediaLink {
    gap: 0.5rem;
  }
  .link {
    gap: 0.1rem;
  }
}
