.header {
  width: 100%;
  position: fixed;
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Half-Baked);
  z-index: 5;
  background-color: transparent;

  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}
.header h2 {
  font-size: 2.5rem;
  letter-spacing: -3px;
  line-height: 0.4;
  color: var(--Navy);
}
.header > h2 > span:first-child {
  font-size: 35px;
}
.header > h2 > span:last-child {
  font-weight: bolder;
  letter-spacing: 1px;
  color: var(--Dusk-Blue);
}
.header > button {
  border: none;
  width: 120px;
  height: 40px;
  background-color: var(--Navy);
  color: var(--Iceberg);
  border-radius: 20px;
  font-weight: 900;
  cursor: pointer;
}
.socialMediaLink {
  color: var(--Dusk-Blue);
  display: flex;
  gap: 2rem;
  align-items: center;
}
.link {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .header {
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 2rem;
  }
  .header > h2 > span:first-child {
    font-size: 27px;
  }
  .header h2 {
    font-size: 1.8rem;
  }
  .link {
    gap: 0.3rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 1.5rem;
  }
  .socialMediaLink {
    gap: 0.5rem;
  }
  .link {
    gap: 0.1rem;
  }
  .socialMediaLink{
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .socialMediaLink {
    gap: 0.5rem;
  }
  .link {
    gap: 0.1rem;
  }
}
