.section3 {
  padding: 5rem 2rem;
  width: 100%;
  overflow: hidden;
}
.section3 h2 {
  font-size: 4rem;
  color: var(--Navy);
  text-align: center;
  line-height: 1.1;
  letter-spacing: 1px;
  margin-bottom: 7rem;
}
.cardsDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
  gap: 5rem;
  justify-items: center;
}

.colordiv {
  position: relative;
  min-width: 300px;
  display: flex;
  align-items: center;
}
.imageAndText {
  margin: 0 auto;
  display: flex;
  gap: 0.4rem;
  justify-content: space-between;
}
.image {
  width: 100%;
  left: 0;
  top: -100px;
  object-fit: cover;
  object-position: left;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
}
.texts > h3 {
  color: var(--Navy);
}
.texts > p {
  color: var(--Dusk-Blue);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.5;
}
.link button {
  background: transparent;
  border: none;
  width: 150px;
}
.link > button > p {
  padding: 0.5rem 1rem;
  background-color: var(--Navy);
  color: var(--Iceberg);
  border-radius: 25px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.circle {
  color: var(--Dusk-Blue);
  border: 2px dotted var(--Half-Baked);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0.3rem;
}
.colordivs_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(#00ac4b 70%, #fff);
  filter: blur(100px);
  z-index: -1;
}
.colordivs_2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(#1a1717 70%, #fff);
  filter: blur(100px);
  z-index: -1;
}
.colordivs_3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(#00af8c 70%, #fff);
  filter: blur(100px);
  z-index: -1;
}
.colordivs_4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(#3b3ef6 70%, #fff);
  filter: blur(100px);
  z-index: -1;
}
.colordivs_5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(#1c7be1 70%, #fff);
  filter: blur(100px);
  z-index: -1;
}
.colordivs_6 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(#055155 70%, #fff);
  filter: blur(100px);
  z-index: -1;
}
.colordivs_7 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(#e94b3c 70%, #fff);
  filter: blur(100px);
  z-index: -1;
}
.colordivs_8 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(#dcac1d 70%, #fff);
  filter: blur(100px);
  z-index: -1;
}

@media screen and (min-width: 1000px) {
  .cardsDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1400px) {
  .cardsDiv {
    gap: 3rem;
  }
}
@media screen and (max-width: 1278px) {
  .cardsDiv {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .section3 h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1172px) {
  .cardsDiv {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media screen and (max-width: 778px) {
  .section3 h2 {
    margin-bottom: 3rem;
  }
  .imageAndText {
    min-width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image {
    padding-inline: 3rem;
  }
  .texts h3 {
    color: var(--Iceberg);
  }
  .texts {
    left: 135px;
    align-items: center;
  }
  .texts p {
    color: var(--Iceberg);
  }
}
/*
@media screen and (max-width: 1278px) {
  .cardsDiv {
    gap: 2rem;
  }
}
@media screen and (max-width: 1072px) {
  .cardsDiv {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .section3 h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .section3 {
    padding: 3rem;
  }
  .section3 h2 {
    margin-bottom: 2rem;
  }

  .texts h3 {
    color: var(--Iceberg);
  }
  .texts {
    left: 135px;
    align-items: center;
  }
  .texts p {
    color: var(--Iceberg);
  }
  .imageAndText {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image {
    width: 100%;
  }
} */
